/* =========================================
   PINTEREST STYLE RESORT MASONRY
========================================= */

.resort-grid {
  width: 100%;

  column-count: 4;
  column-gap: 12px;

  margin-top: 28px;
}


/* =========================================
   CARD
========================================= */

.resort-card {
  width: 100%;

  display: inline-block;

  vertical-align: top;

  break-inside: avoid;
  page-break-inside: avoid;

  margin: 0 0 12px;

  overflow: hidden;

  border-radius: 15px;

  background: #eeeeee;

  box-sizing: border-box;
}