.filter-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 11px 0 13px;
}

.filter-left {
  display: flex;
  gap: 7px;
}

.filter-select,
.filter-main {
  height: 39px;
  border: 1px solid #bdbdbd;
  background: white;
  border-radius: 11px;
  padding: 0 27px;
  font-size: 13px;
  font-weight: 500;
  color: #111;
  cursor: pointer;
}

.filter-select {
  width: 192px;
  text-align: left;
}

.filter-select:disabled {
  cursor: not-allowed;
  color: #888;
}

.filter-main {
  width: 108px;
  font-weight: 600;
}
