.resorts-page {
  width: 100%;

  margin: 0 auto;

  padding: 0 32px 70px;
}


/* =========================
   FILTER
========================= */

.resort-filter-bar {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-top: 16px;
}


.resort-filter-left {
  display: flex;

  gap: 7px;
}


.resort-filter-left button,
.filter-button {
  height: 42px;

  border: 1px solid #bdbdbd;

  border-radius: 11px;

  background: white;

  padding: 0 25px;

  font-size: 13px;

  color: #222;

  cursor: pointer;
}


.resort-filter-left button {
  width: 190px;

  text-align: left;
}


.filter-button {
  width: 105px;

  font-weight: 600;
}


/* =========================
   MOBILE
========================= */

@media (max-width: 650px) {

  .resorts-page {
    padding: 0 12px 40px;
  }


  .resort-hero {
    height: 240px;

    border-radius: 14px;
  }


  .resort-category-nav {
    width: 100%;

    padding: 0 12px;

    overflow-x: auto;

    justify-content: flex-start;

    scrollbar-width: none;
  }


  .resort-category-nav::-webkit-scrollbar {
    display: none;
  }


  .resort-category-nav button {
    flex-shrink: 0;
  }


  .resort-search {
    width: calc(100% - 40px);
  }


  .resort-filter-left button {
    width: auto;

    padding: 0 18px;
  }

}